.logo{
    margin-top: 58px;
    margin-left: 158px;
}
.form-header{
    font-weight: 700;
    font-size: 30px;
}
.form-group{
    font-size: 14px;
}
.form-group > label {
    font-weight: 500;
}
.form-control{
    border: 1px solid rgba(95, 163, 14, 0.5);
    border-radius: 5px;
    padding: 30px 34px;
}

.form-control:focus{
    outline: none !important;
}