
.form-group{
    font-size: 14px;
}
.form-group > label {
    font-weight: 500;
}
.login-container{
    padding-left: 30px;
    padding-right: 30px;
}
.login-head{
    font-weight: 700;
}
.input-style{
    border: 1px solid rgba(95, 163, 14, 0.5);
    border-radius: 5px;
    padding: 25px 20px;
  }
  .input-style:focus {
    border: 1px solid rgba(95, 163, 14, 0.5);
    box-shadow: none;
    outline: 0 none;
  }
  .tab{
      cursor: pointer;
  }
  .active-tab{
    font-weight: 600;
    position: relative;
    cursor: pointer;
  }

  .active-tab::after{
      content: '';
      height: 2px;
      width: 100%;
      background: #5FA30E;
      position: absolute;
      left: 0px;
      bottom: -8px;
      transition: 0.5s;
  }
  
