.file {
    display: table;
    background: #7BC30A;
    border-radius: 10px;
    color: #fff;
    padding: 12px 10px;
    font-weight: 700;
    width: 180px;
    text-align: center;
    transition: all .5s ease-in;
    cursor: pointer;
}
.file.disabled, .file:disabled {
    opacity: .65;
    pointer-events: none;
}
  input[type="file"].photo {
    display: none;
}

.file_upload {
    opacity: 0.0;
 
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
 
    /* IE 5-7 */
    filter: alpha(opacity=0);
  
    /* Netscape or and older firefox browsers */
    -moz-opacity: 0.0;
 
    /* older Safari browsers */
    -khtml-opacity: 0.0;
 
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height:100%;
 }