*{
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffff;
  color: #323335;
  font-family: 'Poppins', sans-serif;
}


/* Oyap button styles */
.btn-oyap{
  background: #7BC30A;
  border-radius: 5px;
  color: white;
  padding: 10px 40px;
  transition: all ease-in 0.5s;
}

.btn-outline-oyap{
  border: 1px solid #7BC30A;
  border-radius: 5px;
  color: #7BC30A;
  background-color: white;
  padding: 10px 40px;
  transition: all ease-in 0.5s;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

 .btn-oyap:hover{
      color: white;     
  } 

  .btn-outline-oyap:hover{
    background: #7BC30A;
    color: white;
  }
