*{
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #ffff;
  color: #323335;
  line-height: 1.2;
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
